@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');

:root {
  --color-one: #130e23;
  --color-two: #364b44;
  --color-three: #99b0a8;
  --color-four: #dedbff;
  --color-five: #a6a4ca;
  --text-color: #c2e6ef;
  --mem-width: 36rem;
  --mem-height: min(36rem, calc(100vw - 2rem));
  --bayan-width: 64rem;
  --desc-width: 25rem;
  --slide-duration: 1.3s;
  --text-duration: 0.5s;
  --text-l-height: 1.5em;

}





* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}


body,
h1,
h2,
p,
ul,
ol,
li {
  margin: 0;
}


body {
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--color-one);
  color: var(--text-color);
}

input,
button,
textarea,
select {
  font: inherit;
}

main {
  margin: 1rem auto;
  width: var(--mem-width);
  max-width: 100%;
}

.head {
  display: block;
  width: 100%;
  height: 5rem;
  background: url(./assets/header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 1rem 0;
}

ul.item-list {
  max-width: var(--mem-width);
  margin: 0 auto;
}

img {
  max-width: 100%;
}

img[width][height] {
  height: auto;
}

/* Let SVG scale without boundaries */
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}



input {
  display: none;
}

label {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2rem;

  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #45186b;
  transition: all 0.35s ease-in-out;
 

}

label>h2 {
  height: var(--text-l-height);
  overflow: hidden;
  text-overflow: ellipsis;
  animation: text-hide var(--text-duration) ease-in-out;
}

.slider {
  overflow: hidden;
  transition: all var(--slide-duration);
  height: 0;
}

input:checked+label>.slider {
  animation: details-show var(--slide-duration) ease-in-out;
  height: var(--mem-height);
}

input:checked+label>h2 {
  height: calc(var(--text-l-height)*3);
  animation: text-show var(--text-duration) ease-in-out;
}

input:not(:checked)+label>.slider {
  animation: details-hide var(--slide-duration) ease-in-out;
  height: 0;
}

.control {
  display: block;
  width: var(--text-l-height);
  height: var(--text-l-height);
  background: url(./assets/control.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  opacity: 0;
}

label:active>.control {
  transform: rotate(-1.25turn);
  -webkit-transform: rotate(-1.25turn);
  -moz-transform: rotate(-1.25turn);
  -ms-transform: rotate(-1.25turn);
  -o-transform: rotate(-1.25turn);

}

input:checked~label>.control {
  transform: rotate(-1.5turn);
  -webkit-transform: rotate(-1.5turn);
  -moz-transform: rotate(-1.5turn);
  -ms-transform: rotate(-1.5turn);
  -o-transform: rotate(-1.5turn);
}


@keyframes details-show {
  0% {
    height: 0;
  }

  100% {
    height: var(--mem-height);
  }
}

@keyframes details-hide {
  0% {
    height: var(--mem-height);
  }

  100% {
    height: 0;
  }
}

@keyframes text-show {
  0% {
    height: var(--text-l-height);
  }

  100% {
    height: calc(var(--text-l-height)*3);
  }
}

@keyframes text-hide {
  0% {
    height: calc(var(--text-l-height)*3);
  }

  100% {
    height: var(--text-l-height);
  }
}

@media (hover: hover) {
  input:not(:checked)+label:hover>.slider {
    animation: details-show var(--slide-duration) ease-in-out;
    height: var(--mem-height);
  }

  input:not(:checked)+label:not(:hover)>.slider {
    animation: details-hide var(--slide-duration) ease-in-out;
    height: 0;
  }

  input:not(:checked)+label:hover>h2 {
    animation: text-show var(--text-duration) ease-in-out;
    height: calc(var(--text-l-height)*3);
  }

  input:not(:checked)+label:not(:hover)>h2 {
    animation: text-hide var(--text-duration) ease-in-out;
    height: var(--text-l-height);
  }

  ul:hover .control {
    opacity: 1;
  }
}

@media all and (min-width: 820px) and (max-width: 1023px) {
  /*tablet*/
}

@media all and (min-width: 1023px) {
  /*descktop*/
}